<div class="columns">
  <div class="column is-6">
    <%= form_for @rsvp, url: {action: "create"}, html: {class: "rsvp_form", id: "rsvp-form"} do |f| %>
      <%= f.label :merchant, "Restaurant", class: "label" %>
      <%= f.text_field :merchant, class: "input", value: @merchant %>
      <%= f.label :address, "Address", class: "label" %>
      <%= f.text_field :address, class: "input", value: @address %>
      <%= f.label :date, class: "label" %>
      <%= f.text_field :date, class: "input", id: "flatpickr-input" %>
      <%= f.label :name, "Name", class: "label" %>
      <%= f.text_field :name, class: "input" %>
      <%= f.label :phone, "Phone", class: "label" %>
      <%= f.text_field :phone, class: "input" %>
      <%= hidden_field_tag :url, @url %>
      <%= f.submit "Create", class: "button is-primary form-btn" %>
    <% end %>
  </div>
</div>